    1 # Python
    2 __pycache__/
    3 *.pyc
    4 *.pyo
    5 *.pyd
    6 .Python
    7 env/
    8 venv/
    9 *.env
   10 .venv
   11
   12 # Pipenv
   13 Pipfile.lock
   14 .pipenv/
   15 pipenv.log
   16
   17 # OS
   18 .DS_Store
   19 .Trashes
   20 Thumbs.db
   21
   22 # Logs
   23 *.log
   24
   25 # Cache
   26 .epss_cve_cache.json
   27 .epss_cisa_kev.json

